body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
    color:#FFE066;
}
.web{
    text-align: center;
    padding-right: 10%;
}
ul{
    position:fixed;
    
    list-style-type: none;
    margin: 0;
    padding:0;
    width: 100%;
    height: 5vh;
    background-color:#247BA0;
    
    
    text-align: right;
    
}

li {
    padding-left: 20vh;
    padding-right: 4vh;
    display: inline;  
    color:#FFE066;
    
    
    font-size: 3vh;
}

#has1{
    color:#FFE066;
    text-align: center;
}
#hello{
    background-color: #247BA0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.web{
    font-size: 20px;
    padding-left: 4vh;
    color:#FFE066;
    
}

#projects{
    text-align: center;
    margin-top: 5vh;
    color: rgb(88, 87, 87);
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40vh;
    
    align-items:center;
  }

  .boxes *{
      background-color:red;
      height: 30vh;
      width: auto;
      text-align: center;
      border-style: solid;
      border-width: 0.1vh;
      border-color: grey;
  }

  .boxes2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40vh;
    
    align-items:center;
  }

  .boxes2 *{
      
      height: 30vh;
      width: auto;
      text-align: center;
      border-style: solid;
      border-width: 0.1vh;
      border-color: grey;
  }

  #contact-div{
    background-color: #247BA0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    color:#FFE066;
    font-size: 3vh;
    text-align: center;

  }
  #copyright{
    
    background-color:#50514F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
  }

  @media only screen and (max-width: 600px) {
      ul{
          text-align: center;
          
          
      }
      li{
          
          padding-left: 5vw;
      }
      
    .boxes, .boxes2{
        flex-direction: column;
        justify-content: space-around;  
        
        height: 100vh;

        
        
    }
      
    .boxes *, .boxes2 * {
        background-color: blue;
        margin-bottom: ;
        
        width: auto;
        height: 40vh;

        
        
        
        
    }
}

  
  
  
      